
<div class= "top-margin">
	<div class = "large-6 columns">
	
</div>
<!-- <div id="home-bg">
	<div class= "row">
		<div class= "large-6 columns"> 
		</div>
		<div class= "large-6 columns"> Welcome to Pinterest</div>		
	</div>
</div> -->

<div class="row"> 
	<div class="small-12 columns">Welcome to Pinterest</div> 
	
</div> 

	<!-- <div class="row"> 
		<div class="small-3 columns">3 columns</div> <div class="small-9 columns">9 columns</div> 
	</div>	 -->
	<div id= "cork">
		
	<img src = "http://www.profoundry.co/wp-content/uploads/2014/01/note-paper-on-cork-board-e1392310883824.jpg">
</div>
</img>

		</div>
	</div>
<div id= "btm-margin">
	<div class = "large-6 columns">		
</div>
</div>